@import './src/styles/app.css';
@import './src/styles/progress.css';
@import './src/styles/controllers.css';

@font-face {
  font-family: 'Ozon Font';
  src: url('./assets/font/gteestiprodisplay_regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --body-background-color: #eaf0f6;
  --content-background-color: #ffffff;
  --brand-color: #005cff;
  --text--color: #010101;

  --border-radius-value: 16px;

  --landscape-width: 568px;
  --landscape-height: 320px;

  --portrait-width: 320px;
  --portrait-height: 568px;
}

body {
  font-family: 'Ozon Font', sans-serif;
  color: var(--text--color);
  background-color: var(--body-background-color);

  width: 100vw;
  height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  box-sizing: border-box;
  font-family: 'Ozon Font', sans-serif;
  font-size: 16px;
}

input[type='number'] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  display: none;
}
