.app {
  position: relative;

  background-color: var(--content-background-color);

  padding: 20px;
}

.app__title {
  position: absolute;
  top: 25px;
}

.app__content {
  padding: 79px 88px 80px;
  display: flex;
  gap: 86px;
}

@media screen and (orientation: landscape) {
  .app {
    width: var(--landscape-width);
    height: var(--landscape-height);
  }
}

@media screen and (orientation: portrait) {
  .app {
    width: var(--portrait-width);
    height: var(--portrait-height);
  }
  .app__content {
    padding: 85px 68px 117px;
    flex-direction: column;
    gap: 92px;
  }
}
